* {
  margin: 0px;
  font-family: 'Markazi Text', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  /* grid-template-rows: auto auto auto; */
  /* align-items: center; */
  /* padding: 0; */
  background-color: #495E57;
}

.nav-item {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #EDEFEE;
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 70px 20px 70px;
  border-bottom: 3px solid #495E57;
}

header nav ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

header .nav-item {
  color: #333333;
  font-family: 'Markazi Text';
  font-size: 18px;
}

.booking-page {
  background-color: #495E57;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.menu {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.order {
  background-color: #495E57;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.login {
  background-color: #495E57;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

main .booking {
  background-color: #495E57;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

main .booking > div {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  flex-wrap: wrap;
}

main .booking > div > div{
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-top:50px;
  gap: 20px;
}

main .booking a{
  color: #333333;
  justify-content: center;
  padding: 10px 24px 10px 24px;
  background-color: #F4CE14;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
}


main .specials {
  padding: 70px 20% 70px 20%;
  display: flex;
  background-color: #EDEFEE;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

main .specials > div {
  display: flex;
  justify-content: space-between;
}

main .specials .dish{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

main .specials .card{
  display: flex;
  flex-shrink: 1;
  max-width: 265px;
  max-height: 439px;
  justify-content: center;
  flex-direction: column;
}

main .testimonials {
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;

}

main .testimonials > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

main .landing-section {
  background-color: #EDEFEE;
}

.landing-section {
  display:flex;
  /* align-items: center; */
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.landing-section > div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-top: 50px;
  gap: 20px;
}

footer {
  background-color: #333333;
  color: #EDEFEE;
  display: flex;
  justify-content: center;
  padding: 20px 70px 20px 70px;
  gap: 30px;
  flex-wrap: wrap;
}

footer a {
  text-decoration: none;
  color: #EDEFEE;
  font-family: 'Markazi Text';
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

footer p {
  font-family: 'Markazi Text';
}

footer > .details{
  display: flex;
  align-items: top;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 70px 20px 70px;
}

footer div h3 {
  padding-bottom: 10px ;
  font-family: 'Markazi Text';
  font-size: x-large;
}

